@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/css/mdb.min.css" rel="stylesheet">
    <link href="~/Assets/css/style.css" rel="stylesheet">
</head>
<body class="fixed-sn white-skin">
    <header>

        <!-- Sidebar navigation --> 
        @RenderPage("_LeftMenu.cshtml")
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>Quản Lý Linh Kiện Máy Tính</p>
            </div>

            <!--Navbar links-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span class="clearfix d-none d-sm-inline-block">
                            Thông Tin Đăng Nhập
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item waves-effect waves-light" href="#">Đăng Xuất</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Tài Khoản</a>
                    </div>
                </li>
            </ul>
            <!--/Navbar links-->
        </nav>
        <!-- /.Navbar -->
        <!-- Fixed button -->
        <!-- Fixed button -->
    </header>

    <main>
        <div class="container-fluid" style="min-height: 1000px;">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer center-on-small-only pt-0 mt-5 rgba-stylish-light">

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Assets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/mdb.min.js"></script>
    <script>
        // SideNav Initialization
        $(".button-collapse").sideNav();

        var container = document.getElementById('slide-out');
        Ps.initialize(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });

        // Data Picker Initialization
        $('.datepicker').pickadate({
            // Strings and translations
            monthsFull: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            monthsShort: ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12'],
            weekdaysFull: ['Chủ Nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
            weekdaysShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            showMonthsShort: undefined,
            showWeekdaysFull: undefined,
            today: 'Hôm Nay',
            clear: 'Làm Lại',
            close: 'Đóng',
            format: 'dd/mm/yyyy'
        });

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
            toastr.options = {
                "preventDuplicates": true
            }
        });

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("ClientScripts", false);
</body>
</html>