<ul id="slide-out" class="side-nav fixed custom-scrollbar ps ps--theme_default ps--active-y" data-ps-id="eaf61359-aa07-4806-9330-34401e724cab" style="transform: translateX(0%);">
    <!-- Logo -->
    <li class="logo-sn waves-effect">
        <div class=" text-center">
            <a href="#" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" class=""></a>
        </div>
    </li>
    <!--/. Logo -->
    @* Form Search *@
    <li>
        <form class="search-form" role="search">
            <div class="form-group waves-effect">
                <input type="text" class="form-control" placeholder="Nhập Từ Khóa">
            </div>
        </form>
    </li>
    <!-- Side navigation links -->
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-users"></i>
                    Quản Lý Nhân Viên
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Thêm Mới
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-home"></i>
                    Trang Chủ
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Thêm Mới
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-check-square-o"></i>
                    Quản Lý Phiếu Nhập
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="/Admin/PhieuNhap">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="/Admin/PhieuNhap/NhapHang">
                                Nhập Hàng
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="/Admin/PhieuNhap/SanPhamSapHetHang">
                                Sản Phẩm Sắp Hết Hàng
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-laptop"></i>
                    Quản Lý Sản Phẩm
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Thêm Mới
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-user-secret"></i>
                    Quản Lý Khách Hàng
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Thêm Mới
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-database"></i>
                    Quản Lý Nhà Cung Cấp
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Thêm Mới
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-wrench"></i>
                    Quản Lý Nhà Sản Xuất
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Thêm Mới
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="fa fa-shopping-cart"></i>
                    Quản Lý Đơn Hàng
                    <i class="fa fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Danh Sách
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="collapsible-header waves-effect" href="https://mdbootstrap.com/layout/bootstrap-layout/">
                                Thêm Mới
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <!--/. Side navigation links -->
    <div class="sidenav-bg mask-strong"></div>
    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
    <div class="ps__scrollbar-y-rail" style="top: 0px; height: 951px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 20px;"></div></div>
</ul>