@{
    ViewBag.Title = "Không đủ quyền hạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">
    Bạn không đủ quyền truy cập - 
    @Html.ActionLink("trở Lại", "Index", "Home")
</h1>